.header-image {
	width: 100%;
}

.header-caption {
	font-size: 12px;
	margin-top: 0;
	text-align: right;
}

.container {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1270px;
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	color: #02075d;
}

.nav-buttons {
	text-align: center;
	margin-top: 35px;
}

.nav-buttons > p {
	font-size: 15px;
}

.nav-button {
	margin-left: 10px;
	margin-right: 10px;
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 25px 200px;
	font-size: 20px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	min-width: 609px;
}

button:hover {
	background: none;
	color: #02075d;
}

form > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

select {
	border-color: #02075d;
	color: #02075d;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 30px;
}

th,
td {
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
	height: 30px;
}

form {
	margin-bottom: 20px;
}

#submit {
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 10px 20px;
	font-size: 14px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

#submit:hover {
	background: none;
	color: #02075d;
}

.table-button, .form-button {
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 10px 20px;
	font-size: 14px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

textarea{
	display: list-item;
	height: 60px;
	width: 300px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0); 
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1); 
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0,0,0,.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.back-button {
	position: fixed;
	bottom: 10px;
	left: 10px;
}