.header-image {
	width: 100%;
}

.header-caption {
	font-size: 12px;
	margin-top: 0;
	text-align: right;
}

.container {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1270px;
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	color: #02075d;
}

.nav-buttons {
	text-align: center;
	margin-top: 35px;
}

.nav-buttons > p {
	font-size: 15px;
}

.nav-button {
	margin-left: 10px;
	margin-right: 10px;
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 25px 200px;
	font-size: 20px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	min-width: 609px;
}

button:hover {
	background: none;
	color: #02075d;
}

form > div {
	padding-top: 5px;
	padding-bottom: 5px;
}

select {
	border-color: #02075d;
	color: #02075d;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 30px;
}

th,
td {
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
	height: 30px;
}

form {
	margin-bottom: 20px;
}

#submit {
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 10px 20px;
	font-size: 14px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

#submit:hover {
	background: none;
	color: #02075d;
}

.table-button {
	background: #02075d;
	color: white;
	border: 2px solid;
	padding: 10px 20px;
	font-size: 14px;
	transition: all 0.2s ease 0s;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

textarea{
	display: list-item;
	height: 60px;
	width: 300px;
}